# Inteligencia Artificial I
## Ejemplo de preprocesamiento de datos usando Pandas
En este ejemplo se muestra cómo cargar ficheros que contienen información para entrenar redes neuronales artificiales.

### Importación de las librerías

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pp

In [21]:
path = './corpus/iris.data'
df = pd.read_csv(path, header = None, sep = ',')

df.columns = ['Longitud Sepalo','Ancho Sepalo','Longitud Petalo','Ancho Petalo', 'Clase']

df.head()

   Longitud Sepalo  Ancho Sepalo  Longitud Petalo  Ancho Petalo        Clase
0              5.1           3.5              1.4           0.2  Iris-setosa
1              4.9           3.0              1.4           0.2  Iris-setosa
2              4.7           3.2              1.3           0.2  Iris-setosa
3              4.6           3.1              1.5           0.2  Iris-setosa
4              5.0           3.6              1.4           0.2  Iris-setosa

### Cómo referenciar columnas

In [22]:
df.iloc[:, 1] # Los 2 puntos indican que se listen todas las filas, y el segundo parámetro indica la o las columnas deseadas

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: Ancho Sepalo, Length: 150, dtype: float64

In [23]:
df["Longitud Sepalo"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Longitud Sepalo, Length: 150, dtype: float64

Obtener el máximo valor de una columna dada de un dataframe en Pandas

In [24]:
df["Longitud Sepalo"].max()

7.9

### Generar una copia de un dataframe

In [25]:
df_p = df.copy()

### Cómo pasar de una variable categórica a una numérica

In [34]:
df_p['Clase'] = df_p['Clase'].astype('category')
df_p['Clase'] = df_p['Clase'].cat.codes+1 # Si deseamos que inicie en 1 se suma

df_p.head()

   Longitud Sepalo  Ancho Sepalo  Longitud Petalo  Ancho Petalo  Clase
0              5.1           3.5              1.4           0.2      1
1              4.9           3.0              1.4           0.2      1
2              4.7           3.2              1.3           0.2      1
3              4.6           3.1              1.5           0.2      1
4              5.0           3.6              1.4           0.2      1

In [35]:
df_p2 = df.copy()
mapa = {'Iris-setosa':1, 'Iris-virginica':2, 'Iris-versicolor':3}
df_p2['Clase'].map(mapa)

0      1
1      1
2      1
3      1
4      1
      ..
145    2
146    2
147    2
148    2
149    2
Name: Clase, Length: 150, dtype: int64

In [42]:
df_p2.iloc[:,np.r_[1,3]] # Seleccionar las columnas 1 y 3 del dataframe df_p2

     Ancho Sepalo  Ancho Petalo
0             3.5           0.2
1             3.0           0.2
2             3.2           0.2
3             3.1           0.2
4             3.6           0.2
..            ...           ...
145           3.0           2.3
146           2.5           1.9
147           3.0           2.0
148           3.4           2.3
149           3.0           1.8

[150 rows x 2 columns]

https://plotly.com/python/